/* PC */
@media (min-width: 981px) {
    #search-card .menu {
        display: none;
    }
    #search-card .search-menu {
        display: none;
    }

    .card-section .img-card{
        width: 20%;
    }

    #slider .sub-slider {
        grid-template-columns: 1fr 2fr 1fr;
    
    }
}

/* Tablet & mobile */
@media (max-width: 1023px) {
   
}

@media (max-width: 980px){
    #search-card .search-menu {
        display: block;
    }

    #search-card .icon-menu {
        display: none;
    }

    .search-menu{
        flex: 0 0 calc((50% - 110px / 2) - 1em);
    }

    .search-menu .form-search_inner button i{
        margin: 0px 1.04166667%;
    }

    .search-menu button:hover {
        background: none;
    }

    .card-section img{
        max-width: 110px;
        text-align: center;
    }

    .sub-slider .list-icon{
        display: none;
    }

    #slider .slider-section {
        width: 100%;
        /* display: inline-block; */
    }

    #search-card .card-section {
        margin: 0;
        display: flex;
        flex: 0 0 calc((50% - 110px / 2) - 1em);
        /* grid-template-columns: 1fr 3fr 1fr!important; */
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }

    #menu {
        display: none;
    }


    .wrapper .carousel {
        grid-auto-columns: calc((100%/3));
    }

    .wrapper-high_light .carousel {
        grid-auto-columns: calc((100%/3));
    }
    
}

@media (max-width: 964px){
    .size-15 .text .phone {
        display: none;
    }
    .size-15 .text .call{
        display: block;
    }
}
@media (max-width: 936px){
    .size-15 .text .options1{
        display: none;
    }
    .size-15 .text .options2{
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 740px) {
    .contain .sub-theme{
        display: none;
    }
    

    /* .search-card {
        border: ;
    } */
    .icon-shopping .btn-shop .cart1 {
        display: none;
    }
    
    .icon-shopping .btn-shop .cart2 {
        display: block;
        float: right;
        padding: 0 5px ;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100%/2));
    }

    .wrapper-high_light .carousel {
        grid-auto-columns: calc((100%/2));
    }

    .template .carousel {
        grid-auto-columns: calc((100%));
    }

    .subscribe .row h2,
    .subscribe .row p {
        text-align: center;
    }

    
}